{% extends "base.html" %}
{% block content %}

<div class="container">
  <svg viewBox="0 0 837 1045" xmlns="http://www.w3.org/2000/svg">
    <g id="Page-1" fill="none" stroke-width="6">
      <path d="M353,9 L626.664028,170 L626.664028,487 L353,642 L79.3359724,487 L79.3359724,170 L353,9 Z" stroke="#007FB2"></path>
      <path d="M78.5,529 L147,569.186414 L147,648.311216 L78.5,687 L10,648.311216 L10,569.186414 L78.5,529 Z" stroke="#EF4A5B"></path>
      <path d="M773,186 L827,217.538705 L827,279.636651 L773,310 L719,279.636651 L719,217.538705 L773,186 Z" stroke="#795D9C"></path>
      <path d="M639,529 L773,607.846761 L773,763.091627 L639,839 L505,763.091627 L505,607.846761 L639,529 Z" stroke="#F2773F"></path>
      <path d="M281,801 L383,861.025276 L383,979.21169 L281,1037 L179,979.21169 L179,861.025276 L281,801 Z" stroke="#36B455"></path>
    </g>
  </svg>

  <div class="message-box">
    <h1>404</h1>
    <p>We couldn't find what you were looking for.</p>
    <div class="buttons-con">
      <div class="action-link-wrap">
        <a onclick="history.back()" class="link-button link-back-button">Go Back</a>
        <a href="https://autoveteran.tech/blog" class="link-button">Find Other Resources</a>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    background-color: #2F3242;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  svg {
    max-width: 90vw;
    max-height: 60vh;
  }

  .message-box {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-align: center;
  }

  .message-box h1 {
    font-size: 80px;
    margin-bottom: 20px;
  }

  .message-box p {
    font-size: 18px;
    font-weight: bold;
  }

  .buttons-con {
    margin-top: 20px;
  }

  .action-link-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .link-button {
    background: #68c950;
    padding: 10px 20px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s;
    text-decoration: none;
    display: inline-block;
  }

  .link-button:hover {
    background: #5A5C6C;
  }

  @keyframes float {
    100% {
      transform: translateY(20px);
    }
  }

  g path {
    animation: float 1s infinite ease-in-out alternate;
  }

  g path:nth-child(2) { animation-delay: .2s; }
  g path:nth-child(3) { animation-delay: .4s; }
  g path:nth-child(4) { animation-delay: .6s; }
  g path:nth-child(5) { animation-delay: .8s; }

  @media (max-width: 768px) {
    .message-box h1 {
      font-size: 60px;
    }

    .message-box p {
      font-size: 16px;
    }

    .link-button {
      padding: 8px 16px;
      font-size: 12px;
    }
  }
</style>

{% endblock %}
